In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/DataSet/amazon_cells_labelled.txt',sep='\t',header=None)

In [ ]:
df.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [ ]:
colnames=['review','sentiment']
df.columns=colnames

In [ ]:
df.head()

                                              review  sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [ ]:
df.shape

(1000, 2)

In [ ]:
df1=pd.read_csv('/content/drive/MyDrive/DataSet/imdb_labelled.txt',sep='\t',header=None)
df1.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [ ]:
df1.columns=colnames
df1.shape

(748, 2)

In [ ]:
df2=pd.read_csv('/content/drive/MyDrive/DataSet/yelp_labelled.txt',sep='\t',header=None)
df2.shape
df2.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [ ]:
df2.columns=colnames
df2.head()

                                              review  sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [ ]:
print(df.shape)
print(df1.shape)
print(df2.shape)

(1000, 2)
(748, 2)
(1000, 2)

In [ ]:

data=df.append([df1,df2],ignore_index=True)
data.shape

<ipython-input-12-e53f77224731>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=df.append([df1,df2],ignore_index=True)

(2748, 2)

In [ ]:
from os import sendfile
data['sentiment'].value_counts()

1    1386
0    1362
Name: sentiment, dtype: int64

**Data Cleaning**

In [ ]:
import string
punct=string.punctuation
print(punct)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
from spacy.lang.en.stop_words  import STOP_WORDS
stopwords=list(STOP_WORDS)

print(stopwords)

['neither', 'could', 'never', 'am', 'have', 'why', 'often', 'nevertheless', 'on', 'keep', 'please', 'seemed', 'no', 'moreover', 'i', 'has', 'these', 'others', 'front', 'somehow', 'above', 'wherein', 'formerly', 'top', 'meanwhile', 'eleven', 'seems', 'their', 'say', 'this', 'fifty', 'per', 'elsewhere', '’re', 'just', 'under', 'everyone', 'a', 'forty', 'upon', 'sometime', 'against', 'first', 'where', 'hereupon', 'nine', 'if', 'up', 'does', 'unless', 'my', 'sixty', 'well', 'go', 'ca', 'nor', 'so', 're', 'only', 'such', 'me', 'due', 'various', "'m", '‘ve', 'few', 'seeming', 'other', 'although', 'itself', 'everywhere', 'themselves', 'about', 'toward', 'thereafter', 'whither', 'of', 'ten', 'whereas', '‘re', 'further', 'herein', 'therefore', 'we', 'even', 'mostly', 'out', '‘m', 'be', 'done', 'any', 'off', 'besides', 'while', 'same', 'throughout', 'towards', 'two', 'whom', 'which', "'s", 'twenty', 'own', 'enough', 'yet', 'must', 'n’t', 'much', 'regarding', 'they', 'third', 'around', 'however', 'used', 'how', 'whenever', 'therein', '‘ll', 'full', 'and', 'our', 'sometimes', 'again', 'part', 'it', 'now', 'noone', 'her', 'former', 'over', 'you', 'without', 'hereby', 'are', 'one', 'hereafter', 'there', 'show', 'was', 'something', 'very', 'seem', 'every', 'both', "'ve", 'along', '’d', 'nobody', 'else', 'anywhere', 'but', '’m', 'mine', 'beforehand', 'beyond', 'alone', 'give', 'least', '‘d', 'his', 'n‘t', 'indeed', 'anyone', 'in', 'amount', 'four', 'perhaps', 'many', 'been', 'five', 'yours', 'himself', 'he', '‘s', 'hence', 'three', 'or', 'namely', 'until', 'an', 'also', 'none', '’s', 'during', 'hers', 'myself', 'more', 'behind', 'onto', 'some', 'them', 'become', 'each', 'another', 'did', "'d", 'next', 'that', 'whereby', 'yourself', 'between', 'call', 'cannot', 'down', 'after', 'thence', 'get', 'name', 'amongst', 'too', 'several', 'though', 'already', 'anything', 'everything', 'once', 'take', 'she', 'make', 'would', 'him', 'for', 'hundred', 'what', 'through', 'afterwards', 'all', 'last', 'your', 'below', 'see', 'anyway', 'really', 'twelve', 'latterly', 'should', 'almost', 'except', 'into', "n't", 'back', 'from', 'with', 'being', 'together', 'who', 'thru', 'ours', 'the', 'doing', 'anyhow', 'within', 'latter', 'than', 'whether', 'thereupon', 'do', 'among', 'thus', 'can', 'becomes', 'thereby', 'might', 'herself', 'is', 'its', 'had', 'most', 'before', 'beside', 'less', 'whoever', '’ll', 'move', 'across', 'whence', 'via', 'either', 'side', 'somewhere', 'when', 'whereafter', 'may', 'here', 'whereupon', 'six', 'using', 'to', 'us', 'someone', 'made', 'bottom', 'by', 'were', 'otherwise', 'ever', 'put', 'still', 'empty', 'nothing', 'serious', 'always', 'will', 'rather', 'whose', 'ourselves', 'fifteen', 'becoming', "'ll", 'quite', 'whole', 'as', 'at', 'wherever', 'since', 'then', 'nowhere', 'whatever', 'those', 'became', 'eight', "'re", 'because', 'yourselves', 'not', '’ve']

In [ ]:
import spacy
nlp=spacy.load('en_core_web_sm')

def data_cleaning(sentence):
  tokens=[]
  doc=nlp(sentence)
  for token in doc:
    if token.lemma_!='PRON':
      temp=token.lemma_.lower().strip()
    else:
      temp=token.lower_
    tokens.append(temp)
  cleaned_tokens=[]
  for toke in tokens:
    if toke not in stopwords and toke not in punct:
      cleaned_tokens.append(toke)
  return cleaned_tokens

In [ ]:
data_cleaning("Hello all, It's a beautiful day outside there!")
# stopwords and punctuations removed

['hello', 'beautiful', 'day', 'outside']

**Vectorization or bag of words**

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [ ]:
tfidf=TfidfVectorizer(tokenizer=data_cleaning)

In [ ]:
classiffier=LinearSVC()

**Training and testing the model**

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data['review'],data['sentiment'],test_size=0.20,random_state=0)

In [ ]:
print(x_train.shape)
print(y_train.shape)

print(x_test.shape)

print(x_test.shape)
y_train.value_counts()

(2198,)
(2198,)
(550,)
(550,)

1    1117
0    1081
Name: sentiment, dtype: int64

In [ ]:
clf=Pipeline([('tfidf',tfidf),('clf',classiffier)])
clf.fit(x_train,y_train)

y_pred=clf.predict(x_test)

/usr/local/lib/python3.10/dist-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [ ]:
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

0.7854545454545454