In [ ]:
import pandas as pd
import numpy as np

In [ ]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
#take the dict and arrange keys to index and values to actual values
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
#hold any type of data
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [ ]:
# hold the built in functions also
pd.Series(data=[sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [ ]:
ser1=pd.Series([1,2,3,4],['USA','Germany','Canada','Italy'])
ser1

USA        1
Germany    2
Canada     3
Italy      4
dtype: int64

In [ ]:
ser2=pd.Series([1,2,5,4],['USA','Germany','India','Italy'])
ser2

USA        1
Germany    2
India      5
Italy      4
dtype: int64

In [ ]:
ser2['India']

5

In [ ]:
ser3=pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [ ]:
ser3[0]

'a'

In [ ]:
ser1+ser2 # series concatination

Canada     NaN
Germany    4.0
India      NaN
Italy      8.0
USA        2.0
dtype: float64

**Data Frame Part 1**

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
type(df['W'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
#Data frame is a series of Seires in pandas sharing the same index.

In [ ]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
#Inserting the New Column

df['new']=df['W']+df['Z']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [ ]:
# Dropping the  columns we need to axis the lables

df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [ ]:
# for permanantly removing the new column, we need to specify the inplace=True

df.drop('new',axis=1,inplace=True)

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
# Dropping the rows

df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

# Selecting the ROWS

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df.loc['C'] # selecting the C row

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df.iloc[2] # another way to selecting the 'C' ROW and returned the row as a series

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [ ]:
df.loc['A','Y']

0.9079694464765431

In [ ]:
df.loc[['A','B'],['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965

**DataFrame Part2**

In [ ]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
booldf=df>0

In [ ]:
booldf

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [ ]:
df[booldf]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [ ]:
# here it removed the rows
df[df['W']>0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [ ]:
redudf=df[df['Z']>0]
redudf

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
redudf['X']

B    0.390528
C    0.072960
D   -0.754070
E    1.901755
Name: X, dtype: float64

In [ ]:
# this result is same as the above result but code lines decreases
df[df['Z']>0]['X']

B    0.390528
C    0.072960
D   -0.754070
E    1.901755
Name: X, dtype: float64

In [ ]:
booldf=df[df['Z']>0]
booldf
mylist=['X','Y']
df[mylist]

          X         Y
A  1.693723 -1.706086
B  0.390528  0.166905
C  0.072960  0.638787
D -0.754070 -0.943406
E  1.901755  0.238127

In [ ]:
# this result is same as the above result but code lines decreases
df[df['Z']>0][['X','Y']]

          X         Y
B  0.390528  0.166905
C  0.072960  0.638787
D -0.754070 -0.943406
E  1.901755  0.238127

**Multiple Conditons**

In [ ]:
df[(df['W']>0) & (df['X']>1)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119

In [ ]:
df[(df['W']>0) | (df['X']<0)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [ ]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [ ]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [ ]:
newindex='CA GA TX IL MX'.split()
newindex

['CA', 'GA', 'TX', 'IL', 'MX']

In [ ]:
df['states']=newindex

In [ ]:
df

          W         X         Y         Z states
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     GA
C  0.807706  0.072960  0.638787  0.329646     TX
D -0.497104 -0.754070 -0.943406  0.484752     IL
E -0.116773  1.901755  0.238127  1.996652     MX

In [ ]:
df.set_index('states')

               W         X         Y         Z
states
CA      0.302665  1.693723 -1.706086 -1.159119
GA     -0.134841  0.390528  0.166905  0.184502
TX      0.807706  0.072960  0.638787  0.329646
IL     -0.497104 -0.754070 -0.943406  0.484752
MX     -0.116773  1.901755  0.238127  1.996652

In [ ]:
df

          W         X         Y         Z states
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     GA
C  0.807706  0.072960  0.638787  0.329646     TX
D -0.497104 -0.754070 -0.943406  0.484752     IL
E -0.116773  1.901755  0.238127  1.996652     MX

Data Frame Part3

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [ ]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [ ]:
df

             A         B
G1 1  0.147027 -0.479448
   2  0.558769  1.024810
   3 -0.925874  1.862864
G2 1 -1.133817  0.610478
   2  0.386030  2.084019
   3 -0.376519  0.230336

In [ ]:
df.loc['G1']

          A         B
1  0.147027 -0.479448
2  0.558769  1.024810
3 -0.925874  1.862864

In [ ]:
df.loc['G1'].loc[1]

A    0.147027
B   -0.479448
Name: 1, dtype: float64

In [ ]:
df.index.names=['Group','Numbers']

In [ ]:
df

                      A         B
Group Numbers
G1    1        0.147027 -0.479448
      2        0.558769  1.024810
      3       -0.925874  1.862864
G2    1       -1.133817  0.610478
      2        0.386030  2.084019
      3       -0.376519  0.230336

In [ ]:
df.loc['G1'].loc[2]['B']

1.0248102783372157

Xross Section

In [ ]:
df

                      A         B
Group Numbers
G1    1        0.147027 -0.479448
      2        0.558769  1.024810
      3       -0.925874  1.862864
G2    1       -1.133817  0.610478
      2        0.386030  2.084019
      3       -0.376519  0.230336

In [ ]:
df.xs('G1')

                A         B
Numbers
1        0.147027 -0.479448
2        0.558769  1.024810
3       -0.925874  1.862864

In [ ]:
df.xs(1,level='Numbers') # it will return the 1 index row in every group

              A         B
Group
G1     0.147027 -0.479448
G2    -1.133817  0.610478

# Missing data

In [ ]:
d={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,4]}
df=pd.DataFrame(d)

In [ ]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  4

In [ ]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  4

In [ ]:
# threshold values for how many columns need present at least or at-least threshold Non-null values

df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
df.fillna(value="fill value")

            A           B  C
0         1.0         5.0  1
1         2.0  fill value  2
2  fill value  fill value  4

In [ ]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

**Group By**

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df=pd.DataFrame(data)

In [ ]:
bycomp=df.groupby('Company')

In [ ]:
bycomp.mean()

<ipython-input-98-a0feccf736d8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bycomp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [ ]:
bycomp.sum()

<ipython-input-99-8335fd983e16>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bycomp.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [ ]:
bycomp.std()

<ipython-input-100-2e1a973ca659>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bycomp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [ ]:
bycomp.sum().loc['FB']

<ipython-input-102-6c02300cb3ba>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bycomp.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [ ]:
df.groupby('Company').sum().loc['FB']

<ipython-input-103-9d83ab8df155>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Company').sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [ ]:
df.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [ ]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [ ]:
df.groupby('Company').min()

          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

In [ ]:
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [ ]:
df.groupby('Company').describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

# Merging, Joining and Concatenating

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [ ]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.merge(left,right,how="inner",on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

**More Complicated**

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.merge(left,right,on=['key1','key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
pd.merge(left,right,how='outer',on=['key1','key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(left,right,how='right',on=['key1','key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [ ]:
pd.merge(left,right,how='left',on=['key1','key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

**Joining**

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [ ]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [ ]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
left.join(right,how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

# Operations

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
# To find the unique values in the columns
df['col2'].unique()

array([444, 555, 666])

In [ ]:
df['col2'].nunique() # len(df['col2'].unique())

3

In [ ]:
# to get the count of unique values in a particular column

df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [ ]:
# Conditional selection
df['col2']<450

0     True
1    False
2    False
3     True
Name: col2, dtype: bool

In [ ]:
df[(df['col2']<450) & (df['col3']=='abc')]

   col1  col2 col3
0     1   444  abc

Apply()

In [ ]:
df['col2'].sum()

2109

In [ ]:
def times(x):
  return x*10

In [ ]:
df['col2'].apply(times)

0    4440
1    5550
2    6660
3    4440
Name: col2, dtype: int64

In [ ]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
df['col2'].apply(lambda x:x*100)

0    44400
1    55500
2    66600
3    44400
Name: col2, dtype: int64

In [ ]:
#drop columns
df.drop('col1',axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [ ]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
# sort the values
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [ ]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
df.isnull().sum()

col1    0
col2    0
col3    0
dtype: int64

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [ ]:
df.pivot_table(values='D',index=['A','B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

# Input and output

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/DataSet/example')

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
df.to_csv('Mydata',index=False)

In [ ]:
pd.read_csv('Mydata')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

Excel file

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/DataSet/Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
pd.read_excel('/content/drive/MyDrive/DataSet/Excel_Sample.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

**HTML files**

In [ ]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [ ]:
df[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,First Republic Bank,San Francisco,CA,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
1,Signature Bank,New York,NY,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
2,Silicon Valley Bank,Santa Clara,CA,24735,First–Citizens Bank & Trust Company,"March 10, 2023",10539
3,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
4,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
...,...,...,...,...,...,...,...
561,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
562,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
563,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
564,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
565,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///:memory:')

In [ ]:
df.to_sql('Mydata', engine)

4